@font-face {
  font-family: "YourFont";
  src: url("/Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "YourFont", "Roboto", sans-serif;
  overflow: hidden;

}

.main-popup {
  width: 80vw;
}

.save-btn {
  background-color: black;
  color: white;
  padding: 8px 25px;
  font-weight: 400;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 0px 20px;

}


.top-bar {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
}

.top-bar-heading {
  font-size: 20px;
}

.banner {
  background-color: #ededed;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;
}

.banner-heading {
  font-size: 25px;
}

.banner-para {
  color: #71717a;
  font-size: 20px;
  font-weight: 10px;
}

.list-items {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
  justify-content: center;
  padding: 8px;
  border: 1px solid gray;
  background-color: #ededed;
  color: #71717a;
  cursor: pointer;
  border-radius: 6px;
}

.item {
  padding: 8px;
  border-radius: 6px;
  width: 100vw;
  text-align: center;
}

.noq {
  color: #71717a;
}

.item-highlight {
  background-color: white;
  width: 100vw;
  text-align: center;
  padding: 8px;
  margin: 5px;
  border-radius: 6px;
}

.popup-textarea {
  width: 99%;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
  font-family: "YourFont", "Roboto", sans-serif;
}

.q-box {
  border: 1px solid black;
  border-radius: 6px;
  padding: 12px;
}

.q-heading {
  width: 70vw;
  font-size: 20px;
}

.q-para {
  border: 1px solid gray;
  border-radius: 10px;
  width: 90px;
  text-align: center;
  font-size: 12px;
  padding: 2px;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-heading {
  text-align: center;
  font-size: 13px;
  color: #71717a;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-loader {
  animation: spin 1s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
}


.btn-export {
  width: 100%;
  background-color: black;
  border-radius: 6px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  cursor: pointer;
  height: 6vh;
  font-weight: 550;
  margin-top: 10px;
}

.item-disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
  width: 100vw;
  text-align: center;
  padding: 8px;
  margin: 5px;
  border-radius: 6px;
}

footer {
  position: absolute;
  bottom: 5px;
  text-align: center;
  width: 99.5%;
  overflow: hidden;
  margin: auto;
}


.jd{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  border: 1px solid gray;
  max-width: 500px;
  margin: 0px auto;
  padding: 0px 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 8px;
}

.jd-content h1{
  font-size: 20px;
  font-weight: 500;
}

.jd-content p {
   font-size: 15px;
  font-weight: 500; 
}

.applications{
  overflow-y: scroll;
  height: 50vh;
}